.password-meter
    display none
    margin-left 230px
    margin-top 14px
    position absolute
    width 60px

x:-o-prefocus, .password-meter
    margin-top -8px

.password-meter-bg, .password-meter-bar 
    height 8px
    
    border-radius 6px
    -moz-border-radius 6px
    -webkit-border-radius 6px

.password-meter-bg 
    background #e0e0e0
    top 8px

label.error
    background url('../plugins/validatePassword/images/error.png') no-repeat 6px 5px
    border-radius 6px
    color #D53D3D
    display inline    
    font-size 0.9em
    margin-left 9px
    margin-top 5px
    padding 5px
    padding-left 28px
    position absolute
    width auto !important

label.valid 
    background url('../plugins/validatePassword/images/ok.png') no-repeat 0px 0px
    color green
    height 16px
    margin 10px 0 0 10px
    position absolute
    width 16px

@media screen and (max-width:980px)
    .password-meter
        left 0
        margin-left 73%

@media screen and (max-width:840px)
    .password-meter
        margin-left 70%

    label.error
        margin-bottom 1em
        margin-top -5px
        position relative
        
    label.valid
        position absolute
        margin-top 10px

@media screen and (max-width:500px)
    .password-meter
        margin-top 16px

    x:-o-prefocus, .password-meter
        margin-top 20px

    label.error
        margin-top 0

    label.valid
        display none !important