/**
 * JQuery Messages and Buttons Plug-in 0.1
 *
 * @author      JpBaena13
 */
.untMsg
	border-radius 0.5em 0 0.5em 0
	font-size 14px
	margin 10px
	padding 10px
	text-align left
	text-shadow none
	width auto

.untMsgDelete
	color #A03434
	cursor pointer
	float right

	&:hover
		color: #c33f3f

.untMsgWrapper
	display inline-block

.untMsgTitle
	font-weight bold
	margin-bottom 5px

.untMsgContent
	display inline-block
	vertical-align middle

.untMsgIcon
	display none
	border thin inset #aaa
	margin-right 50px
	padding 5px
	vertical-align middle

.untMsgErr
	background-color #edd
	border thin solid #690D0D

.untMsgOk
	background-color #ded
	border thin solid #4E754E

.untMsgWrng
	background-color #FCEFD7
	border thin solid #f5b143